.u-section-1 .u-sheet-1 {
  min-height: 432px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 67px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 17px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 436px;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: -40px auto 60px 574px;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 19px;
    margin-left: 336px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 474px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 226px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 364px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 134px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 275px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 102px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
    margin-left: 102px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 907px;
}

.u-section-2 .u-image-1 {
  width: 314px;
  height: 314px;
  margin: -101px auto 0;
}

.u-section-2 .u-icon-1 {
  width: 46px;
  background-image: none;
  height: 46px;
  color: rgb(255, 255, 255) !important;
  margin: -213px auto 0 31px;
  padding: 6px;
}

.u-section-2 .u-icon-2 {
  width: 46px;
  background-image: none;
  height: 46px;
  margin: 13px auto 0 31px;
  padding: 6px;
}

.u-section-2 .u-icon-3 {
  width: 46px;
  background-image: none;
  height: 46px;
  margin: 16px auto 0 31px;
  padding: 6px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 96px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-2 .u-line-1 {
  width: 84px;
  transform-origin: left center 0px;
  margin: 11px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 63px 900px 0 117px;
}

.u-section-2 .u-icon-4 {
  width: 91px;
  height: 91px;
  margin: -7px auto 0 253px;
  padding: 0;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: -45px auto 0 412px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: -53px 163px 0 540px;
}

.u-section-2 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: -102px auto 0 163px;
}

.u-section-2 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: -26px auto 0 341px;
}

.u-section-2 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: -7px auto 0 238px;
}

.u-section-2 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: 4px auto 0 146px;
}

.u-section-2 .u-text-5 {
  margin: 79px -43px 60px auto;
}

.u-section-2 .u-text-6 {
  width: auto;
  font-size: 1.125rem;
  margin: 20px -188px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: -123px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -191px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 85px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-line-1 {
    margin-top: 16px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 64px;
    margin-right: 729px;
    margin-left: 110px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 23px;
    margin-left: 157px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -25px;
    margin-left: 295px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -123px;
    margin-right: 23px;
    margin-left: 425px;
  }

  .u-section-2 .u-icon-6 {
    margin-top: -19px;
    margin-left: 77px;
  }

  .u-section-2 .u-icon-7 {
    margin-top: -30px;
    margin-left: 188px;
  }

  .u-section-2 .u-icon-8 {
    margin-top: -21px;
    margin-left: 308px;
  }

  .u-section-2 .u-icon-9 {
    margin-top: -16px;
    margin-left: 121px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 131px;
    margin-right: -38px;
    margin-bottom: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-top: -124px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 14px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 14px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 14px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 223px;
    margin-right: 568px;
    margin-left: 55px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -19px;
    margin-left: 253px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -38px;
    margin-right: 257px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    width: 458px;
    margin-top: -335px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 287px;
    margin-left: 185px;
  }

  .u-section-2 .u-icon-7 {
    margin-top: -139px;
    margin-left: 296px;
  }

  .u-section-2 .u-icon-8 {
    margin-top: 31px;
    margin-right: 235px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-9 {
    margin-top: -191px;
    margin-left: 154px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 232px;
    margin-right: -37px;
    margin-bottom: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-icon-1 {
    margin-left: -23px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: -23px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: -23px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 199px;
    margin-right: 379px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 189px;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 193px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -181px;
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 138px;
  }

  .u-section-2 .u-icon-7 {
    margin-left: 222px;
  }

  .u-section-2 .u-icon-8 {
    margin-right: 176px;
  }

  .u-section-2 .u-icon-9 {
    margin-top: 285px;
    margin-left: 134px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 297px;
    margin-right: -50px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -245px;
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-2 .u-image-1 {
    width: 217px;
    height: 217px;
    margin-top: -234px;
    margin-left: 58px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 17px;
    margin-left: 85px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -46px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -46px;
    margin-left: 209px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 36px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-line-1 {
    margin-top: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 268px;
    margin-right: 211px;
    margin-left: 18px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -251px;
    margin-left: 27px;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 122px;
    margin-left: 106px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -276px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 122px;
  }

  .u-section-2 .u-icon-7 {
    margin-left: 42px;
  }

  .u-section-2 .u-icon-8 {
    margin-right: 111px;
    margin-left: 106px;
  }

  .u-section-2 .u-icon-9 {
    margin-top: 451px;
    margin-left: 84px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 415px;
    margin-left: 230px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -338px;
    margin-left: 21px;
    margin-right: 21px;
  }
}.u-block-dc6e-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-dc6e-3 {
  position: absolute;
  left: 0;
}

.u-block-dc6e-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

@media (max-width: 575px) {
  .u-block-dc6e-3 {
    width: 44px;
    height: 44px;
  }

  .u-block-dc6e-4 {
    width: 44px;
    height: 44px;
  }
}

.u-section-3-1 .u-sheet-1 {
  min-height: 771px;
}

.u-section-3-1 .u-text-1 {
  font-weight: 400;
  margin: 97px auto 0;
}

.u-section-3-1 .u-text-2 {
  font-weight: 400;
  margin: 66px auto 0 97px;
}

.u-section-3-1 .u-group-1 {
  width: 669px;
  min-height: 253px;
  height: auto;
  background-image: none;
  margin: 29px 64px 0 auto;
}

.u-section-3-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 31px;
}

.u-section-3-1 .u-icon-1 {
  width: 91px;
  height: 91px;
  margin: -128px auto 0 97px;
  padding: 0;
}

.u-section-3-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -77px auto 0 270px;
}

.u-section-3-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 91px auto 0 198px;
}

.u-section-3-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -33px auto 0 61px;
}

.u-section-3-1 .u-icon-5 {
  width: 89px;
  height: 89px;
  margin: -26px auto 60px 246px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 968px;
  }

  .u-section-3-1 .u-text-1 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-3-1 .u-text-2 {
    width: auto;
    margin-top: 364px;
    margin-left: 56px;
  }

  .u-section-3-1 .u-group-1 {
    width: 612px;
    min-height: 263px;
    margin-top: -310px;
    margin-right: 53px;
    height: auto;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 12px;
  }

  .u-section-3-1 .u-text-3 {
    width: auto;
    margin-top: 9px;
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-3-1 .u-icon-1 {
    margin-top: 78px;
    margin-left: 119px;
  }

  .u-section-3-1 .u-icon-2 {
    margin-top: -78px;
    margin-left: 292px;
  }

  .u-section-3-1 .u-icon-3 {
    margin-left: 220px;
  }

  .u-section-3-1 .u-icon-4 {
    margin-left: 83px;
  }

  .u-section-3-1 .u-icon-5 {
    margin-left: 268px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 997px;
  }

  .u-section-3-1 .u-text-1 {
    margin-top: 77px;
  }

  .u-section-3-1 .u-text-2 {
    margin-top: 449px;
    margin-left: 64px;
  }

  .u-section-3-1 .u-group-1 {
    margin-top: -384px;
    margin-right: auto;
  }

  .u-section-3-1 .u-icon-1 {
    margin-top: 175px;
    margin-left: 154px;
  }

  .u-section-3-1 .u-icon-2 {
    margin-top: -64px;
    margin-left: 394px;
  }

  .u-section-3-1 .u-icon-3 {
    margin-top: 0;
    margin-left: 283px;
  }

  .u-section-3-1 .u-icon-4 {
    margin-top: 6px;
    margin-left: 181px;
  }

  .u-section-3-1 .u-icon-5 {
    margin-top: -41px;
    margin-left: 381px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-3-1 .u-text-1 {
    margin-top: 101px;
  }

  .u-section-3-1 .u-text-2 {
    margin-top: 456px;
    margin-left: 70px;
  }

  .u-section-3-1 .u-group-1 {
    min-height: 280px;
    width: 470px;
    margin-top: -431px;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-1 .u-text-3 {
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-1 .u-icon-1 {
    margin-top: 204px;
    margin-left: 142px;
  }

  .u-section-3-1 .u-icon-2 {
    margin-top: -91px;
    margin-left: 334px;
  }

  .u-section-3-1 .u-icon-3 {
    margin-top: 44px;
    margin-left: 242px;
  }

  .u-section-3-1 .u-icon-4 {
    margin-top: 1px;
    margin-left: 142px;
  }

  .u-section-3-1 .u-icon-5 {
    margin-top: -25px;
    margin-left: 295px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-3-1 .u-text-2 {
    margin-top: 481px;
    margin-left: 22px;
  }

  .u-section-3-1 .u-group-1 {
    min-height: 367px;
    margin-top: -443px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3-1 .u-text-3 {
    margin-top: 6px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3-1 .u-icon-1 {
    margin-top: 175px;
    margin-left: 58px;
  }

  .u-section-3-1 .u-icon-2 {
    margin-top: -77px;
    margin-left: 216px;
  }

  .u-section-3-1 .u-icon-3 {
    margin-top: 25px;
    margin-left: 152px;
  }

  .u-section-3-1 .u-icon-4 {
    margin-top: -39px;
    margin-left: 66px;
  }

  .u-section-3-1 .u-icon-5 {
    margin-left: 203px;
  }
}

.u-section-3-2 .u-sheet-1 {
  min-height: 797px;
}

.u-section-3-2 .u-text-1 {
  font-weight: 400;
  margin: 36px 182px 0 178px;
}

.u-section-3-2 .u-text-2 {
  font-weight: 400;
  margin: 165px auto 0 117px;
}

.u-section-3-2 .u-group-1 {
  width: 669px;
  min-height: 219px;
  height: auto;
  background-image: none;
  margin: -163px 50px 0 auto;
}

.u-section-3-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-3-2 .u-text-3 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: 0 15px;
}

.u-section-3-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -26px auto 0 291px;
}

.u-section-3-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -42px auto 0 69px;
}

.u-section-3-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 185px;
}

.u-section-3-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 28px auto 0 133px;
}

.u-section-3-2 .u-image-1 {
  width: 164px;
  height: 95px;
  margin: -64px auto 0 285px;
}

.u-section-3-2 .u-image-2 {
  width: 226px;
  height: 89px;
  margin: -3px auto 60px 42px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 965px;
  }

  .u-section-3-2 .u-text-1 {
    width: auto;
    margin-top: 65px;
    margin-right: 72px;
    margin-left: 88px;
  }

  .u-section-3-2 .u-text-2 {
    width: auto;
    margin-top: 315px;
    margin-left: 55px;
  }

  .u-section-3-2 .u-group-1 {
    min-height: 252px;
    margin-top: -328px;
    height: auto;
  }

  .u-section-3-2 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 12px;
  }

  .u-section-3-2 .u-text-3 {
    width: auto;
    margin-top: 28px;
  }

  .u-section-3-2 .u-icon-1 {
    margin-top: 139px;
    margin-left: 265px;
  }

  .u-section-3-2 .u-icon-2 {
    margin-top: -71px;
    margin-left: 42px;
  }

  .u-section-3-2 .u-icon-3 {
    margin-top: -32px;
    margin-left: 156px;
  }

  .u-section-3-2 .u-icon-4 {
    margin-top: 25px;
    margin-left: 72px;
  }

  .u-section-3-2 .u-image-1 {
    height: 96px;
    margin-top: -57px;
    margin-left: 224px;
  }

  .u-section-3-2 .u-image-2 {
    margin-top: 11px;
    margin-left: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-text-1 {
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-2 .u-text-2 {
    margin-top: 336px;
    margin-left: 67px;
  }

  .u-section-3-2 .u-group-1 {
    margin-top: -345px;
    margin-right: auto;
  }

  .u-section-3-2 .u-icon-1 {
    margin-top: 114px;
    margin-right: 259px;
    margin-left: auto;
  }

  .u-section-3-2 .u-icon-2 {
    margin-top: -51px;
    margin-left: 107px;
  }

  .u-section-3-2 .u-icon-3 {
    margin-top: 1px;
    margin-left: 296px;
  }

  .u-section-3-2 .u-icon-4 {
    margin-top: -13px;
    margin-left: 192px;
  }

  .u-section-3-2 .u-image-1 {
    margin-top: -80px;
    margin-right: 109px;
    margin-left: auto;
  }

  .u-section-3-2 .u-image-2 {
    margin-top: 44px;
    margin-left: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-text-2 {
    margin-left: 113px;
  }

  .u-section-3-2 .u-group-1 {
    min-height: 223px;
    width: 488px;
    margin-top: -343px;
  }

  .u-section-3-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-2 .u-text-3 {
    margin-top: 1px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-2 .u-icon-1 {
    margin-top: 131px;
    margin-right: 126px;
  }

  .u-section-3-2 .u-icon-2 {
    margin-top: -25px;
    margin-left: 131px;
  }

  .u-section-3-2 .u-icon-3 {
    margin-top: -46px;
    margin-right: 231px;
    margin-left: auto;
  }

  .u-section-3-2 .u-icon-4 {
    margin-top: 43px;
    margin-left: 177px;
  }

  .u-section-3-2 .u-image-1 {
    margin-top: -64px;
    margin-right: 43px;
  }

  .u-section-3-2 .u-image-2 {
    margin-top: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 1075px;
  }

  .u-section-3-2 .u-text-2 {
    margin-top: 399px;
    margin-left: 27px;
  }

  .u-section-3-2 .u-group-1 {
    min-height: 319px;
    margin-top: -373px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3-2 .u-container-layout-1 {
    padding: 16px 0;
  }

  .u-section-3-2 .u-text-3 {
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3-2 .u-icon-1 {
    margin-top: 69px;
    margin-right: 58px;
  }

  .u-section-3-2 .u-icon-2 {
    margin-top: -49px;
    margin-left: 69px;
  }

  .u-section-3-2 .u-icon-3 {
    margin-top: 15px;
    margin-right: 106px;
  }

  .u-section-3-2 .u-icon-4 {
    margin-top: 18px;
    margin-left: 54px;
  }

  .u-section-3-2 .u-image-1 {
    margin-top: -13px;
    margin-right: 17px;
  }

  .u-section-3-2 .u-image-2 {
    margin-top: 9px;
    margin-left: 27px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 842px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px 0 0 644px;
}

.u-section-4 .u-text-2 {
  margin: 17px 0 0 auto;
}

.u-section-4 .u-form-1 {
  height: 427px;
  margin: 32px 0 60px 644px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 444px;
  }

  .u-section-4 .u-form-1 {
    margin-left: 444px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 496px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-right: auto;
  }

  .u-section-4 .u-form-1 {
    width: 496px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
  }
}